.coruseleContainer {
  display: flex;
  justify-content: center;
  position: relative;
}

.textNexCollection {
  width: 1100px;
  height: 110px;
  font-family: var(--fontText);

  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  position: absolute;
  bottom: 80px;
  z-index: 2;

  h3 {
    width: 288px;

    color: var(--white_text);
    font-size: 40px;
    font-weight: 900;
    line-height: 62px;
    text-align: left;
  }

  p {
    width: 550px;

    color: var(--white_text);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
  }
}
