.topBarContainer {
  width: 100%;
  height: 38px;
  position: static;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 158px;

  color: var(--white_text);
  background-color: var(--main);

  font-family: var(--fontText);
  font-size: 13px;
  font-weight: 400;

  .itemInfo {
    display: flex;
    gap: 10px;

    svg, img {
      width: 16px;
      height: 16px;
      fill: var(--white_text);
    }
    p{
        line-height: 20px;
    }
  }
}
